<div class="flex items-center justify-center mt-30">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md overflow-hidden">
    <h1 class="text-2xl text-center mb-6">パスワードリセット申請</h1>
    <%= form_with url: password_resets_path do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: 'block text-sm font-medium text-gray-700'%>
        <%= f.email_field :email, class: 'border rounded-md w-full p-2 text-sm' %>
      </div>
      <div class="mb-4">
        <%= f.submit "申請", class: 'w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded-md transition-all duration-300' %>
      </div>
    <% end %>
  </div>
</div>
