<!-- ログインしている時のトップページ-->
<% content_for :title, "More.golf" %>
<!-- フラッシュメッセージの表示-->
<!-- 成功時　-->
<% if flash[:success] %>
  <div class="bg-green-200 border-l-4 border-green-500 text-green-700 p-4" role="alert">
    <p><%= flash[:success] %></p>
  </div>
<% end %>
<!-- 失敗時　-->
<% if flash.now[:danger] %>
  <div class="bg-orange-200 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
    <p><%= flash.now[:danger] %></p>
  </div>
<% end %>
<!-- 気づかせる時　-->
<% if flash[:notice] %>
  <div class="bg-yellow-200 border-l-4 border-yellow-500-500 text-yellow-700 p-4" role="alert">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
<div class="bg-sky-400 text-white p-4">
	Tailwind CSSが適用されています
  ログインしています
</div>
<div>top画面</div>