<header class="bg-green-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-2xl">More Golf</div>
    <!-- ゴルフ画像のイメージを追加　-->
    <%= image_tag "", alt: "" %>
      <div class="flex space-x-4">
        <p class="text-white">ログインしていません</p>
        <div><%= link_to '新規登録', new_user_path, class: 'text-white hover:text-white' %></div>
        <div><%= link_to 'ログイン', login_path, class: 'text-white hover:text-white' %></div>
        <div><%= link_to 'ゴルフ入門', '#', class: 'text-white hover:text-white' %></div>
    </div>
  </div>
</header>