<% content_for :title, "New post" %>

<h1>New pos</h1>
<div class="bg-blue-500 text-white p-4">
	Tailwind CSSが適用されています
</div>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
